=render "layouts/user_item_top-bar"
.confirmation-single-container
  %main.confirmation-single-container__main
    .confirmation-l-single-container.buy-item-container
      %h2.confirmation-l-single-container__head
        購入内容の確認
      %section.confirmation-buy-content.confirmation-buy-item
        .confirmation-buy-content-inner
          %h3.buy-item-image
            = image_tag @item.image.image1.url, class: "confirmation-item-image"
          %p.confirmation-buy-item-name.bold
            = @item.name
            %p.confirmation-buy-price-ja.bold
              = @item.price
              %span.confirmation-item-shipping-fee.bold
                送料込み
            %ul.confirmation-buy-accordion.not-have
              %li.confirmation-accordion-parent
                .confirmation-accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy-price-table__row.buy-you-pay.bold
                .buy-price-table__row__cell
                  支払い金額
                .buy-price-table__row__cell
                  %span
                    ¥2,500
            %p.has-error-text
              配送先と支払い方法の入力を完了してください。
            = form_tag(action: :pay, method: :post) do
              %button.confirmation-btn-default
                購入する 
                
      %section.buy-content.buy-user-info
        .buy-content-inner-address
          %h3.buy-content-inner-title
            配送先
          %address.buy-user-info-text
            〒333-0000
          %br
            大阪府 大阪市AAA区9-2-222
          %br
            田中 太郎
          %p.buy-user-info-text
          = link_to "/users/#{current_user.id}/edit" ,class: "buy-user-info-fix" do
            %span
              変更する
              %i.icon-arrow-right
                = icon('fas','chevron-right')
      %section.buy-content.buy-user-info
        .buy-content-inner-pay
          %h3.buy-content-inner-title
            支払い方法
          %p.buy-user-info-text
            - if @default_card_information.blank?
              %br /
            - else
              -#以下カード情報を表示
              = "**** **** **** " + @default_card_information.last4
              - exp_month = @default_card_information.exp_month.to_s
              - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
              = exp_month + " / " + exp_year
          = link_to add_cards_path ,class: "buy-user-info-fix-pay" do
            %span
              変更する
              %i.icon-arrow-right
                = icon('fas','chevron-right')
=render "layouts/user_item_bottom-bar"