.app-banner
  = image_tag"https://i.gyazo.com/bc1eeabb6569e0d43b59b6031f18cfd0.png",width: "100%",height: "260"
  .app-banner__icon.clearfix
    %li
      = link_to "https://itunes.apple.com/jp/app/id667861049?l=ja&amp;mt=8" do
        = image_tag"//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?273499512", width: "133" ,height: "40"
    %li
      =link_to "https://play.google.com/store/apps/details?id=com.kouzoh.mercari&amp;hl=ja" do
        = image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?3611986733", width: "133" ,height: "40"
.footer
  .footer__cells
    .footer__list
      %h2.footer__head
        メルカリについて
      %ul
        %li
          = link_to root_path do
            会社概要(運営会社)
        %li
          = link_to root_path do
            採用情報
        %li
          = link_to root_path do
            プレスリリース
        %li
          = link_to root_path do
            公式ブログ
        %li
          = link_to root_path do
            メルカリロゴ利用ガイドライン
        %li.footer__social-link
          = link_to "https://twitter.com/mercari_jp" do
            %i.icon-twitter
              = icon "fab", "twitter"
        %li.footer__social-link
          = link_to "https://www.facebook.com/mercarijp" do
            %i.icon-facebook
              = icon "fab","facebook-square"
    .footer__list
      %h2.footer__head
        ヘルプ＆ガイド
      %ul
        %li
          = link_to root_path do
            メルカリガイド
        %li
          = link_to root_path do
            らくらくメルカリ便
        %li
          = link_to root_path do
            ゆうゆうメルカリ便
        %li
          = link_to root_path do
            大型メルカリ便
        %li
          = link_to root_path do
            車体取引ガイド
        %li
          = link_to root_path do
            メルカリあんしん・あんぜん宣言！
        %li
          = link_to root_path do
            偽ブランド品撲滅への取り組み
        %li
          = link_to root_path do
            メルカリボックス
    .footer__list-third
      %h2.footer__head
        プライバシーと利用規約
      .footer__list-inner
        %ul
          %li
            = link_to root_path do
              プライバシーポリシー
          %li
            = link_to root_path do
              メルカリ利用規約
          %li
            = link_to root_path do
              あんしんスマホサポート制度に関する利用特約
          %li
            = link_to root_path do
              コンプラインアンスポリシー
      .footer__list-inner
        %ul
          %li
            = link_to root_path do
              個人データの安全管理に係る基本方針
          %li
            = link_to root_path do
              特定商取引に関する表記
          %li
            = link_to root_path do
              資金決済法に基づく表示
          %li
            = link_to root_path do
              法令順守と犯罪抑止のために
    .footer__list-last
      %h2.footer__head
        国
      %ul
        %li
          = link_to root_path do
            日本
        %li
          = link_to root_path do
            United States
  .footer__bottom
    = link_to root_path ,class: "footer__logo" do
      =image_tag "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?575670517", width: "124", height: "33"
    %span.footer__copyright
      %small
        © 2019 Mercari
