%section.item-box
  = link_to item_path(item) do
    .item-box__photo
      = image_tag item.image.image1.url , class: 'item-image'
    .item-box__body
      %h3.item-box__name
        =item.name
      .item-box__num
        .item-box__price
          = "¥#{item.price.to_s(:delimited)}"
        .like-border
        %i.icon-like-border
          = icon 'far', 'heart'
          %span
            8