= render 'layouts/user_item_top-bar'
.confirmation-single-container
  %main.confirmation-single-container__main
    .confirmation-l-single-container.buy-item-container
      %h2.confirmation-l-single-container__head
        購入内容の確認
      %section.confirmation-buy-content.confirmation-buy-item
        .confirmation-buy-content-inner
          %h3.buy-item-image
            = image_tag  "https://static.mercdn.net/thumb/photos/m28167667275_1.jpg?1567138930", class: "confirmation-item-image"
          %p.confirmation-buy-item-name.bold
            COACH コーチ ショルダーバッグ
          = form_for @users,url: "https://www.mercari.com/jp/mypage/identification/save/" , html: {class: "confirmation-buy-form"} do |f|
            %p.confirmation-buy-price-ja.bold
              ¥2,500
              %span.confirmation-item-shipping-fee.bold
                送料込み
            %ul.confirmation-buy-accordion.not-have
              %li.confirmation-accordion-parent
                .confirmation-accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy-price-table__row.buy-you-pay.bold
                .buy-price-table__row__cell
                  支払い金額
                .buy-price-table__row__cell
                  %span
                    ¥2,500
            %p.has-error-text
              配送先と支払い方法の入力を完了してください。
            = f.submit "購入する" ,class:"confirmation-btn-default"
      %section.buy-content.buy-user-info
        .buy-content-inner-address
          %h3.buy-content-inner-title
            配送先
          %address.buy-user-info-text
            〒333-0000
          %br
            大阪府 大阪市AAA区9-2-222
          %br
            田中 太郎
          %p.buy-user-info-text
          = link_to root_path ,class: "buy-user-info-fix" do
            %span
              変更する
              %i.icon-arrow-right
                = icon('fas','chevron-right')
      %section.buy-content.buy-user-info
        .buy-content-inner-pay
          %h3.buy-content-inner-title
            支払い方法
          %p.buy-user-info-text
            %br
              &#047;
          = link_to root_path ,class: "buy-user-info-fix-pay" do
            %span
              変更する
              %i.icon-arrow-right
                = icon('fas','chevron-right')
= render 'layouts/user_item_bottom-bar'
