%main.main
  %section.top-page-image
    = image_tag "https://www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?273499512"
  %section.pickup-container
    %h2.pickup-head
      全ての商品
    %section.item-box-container.clearfix
      %h3.text-center
        = link_to root_path do
          アイテム
      .item-box-content.clearfix
        %section.item-box
          = link_to root_path do
            .item-box__photo
              = image_tag "https://static.mercdn.net/item/detail/orig/photos/m32290864405_1.jpg?1566781077",class:"item-image"
            .item-box__body
              %h3.item-box__name
                アディダスのジャージのズボン　black simpleかっこいい
              .item-box__num
                .item-box__price
                  ¥7,000
                .like-border
                %i.icon-like-border
                  = icon 'far', 'heart'
                  %span
                    8
        %section.item-box
          = link_to root_path do
            .item-box__photo
              = image_tag "https://static.mercdn.net/item/detail/orig/photos/m32290864405_1.jpg?1566781077",class:"item-image"
            .item-box__body
              %h3.item-box__name
                アディダスのジャージのズボン　black simpleかっこいい
              .item-box__num
                .item-box__price
                  ¥7,000
                .like-border
                %i.icon-like-border
                  = icon 'far', 'heart'
                  %span
                    8
        %section.item-box
          = link_to root_path do
            .item-box__photo
              = image_tag "https://static.mercdn.net/item/detail/orig/photos/m32290864405_1.jpg?1566781077",class:"item-image"
            .item-box__body
              %h3.item-box__name
                アディダスのジャージのズボン　black simpleかっこいい
              .item-box__num
                .item-box__price
                  ¥7,000
                .like-border
                %i.icon-like-border
                  = icon 'far', 'heart'
                  %span
                    8
        %section.item-box
          = link_to root_path do
            .item-box__photo
              = image_tag "https://static.mercdn.net/item/detail/orig/photos/m32290864405_1.jpg?1566781077",class:"item-image"
            .item-box__body
              %h3.item-box__name
                アディダスのジャージのズボン　black simpleかっこいい
              .item-box__num
                .item-box__price
                  ¥7,000
                .like-border
                %i.icon-like-border
                  = icon 'far', 'heart'
                  %span
                    8
      .view-all
        = link_to root_path do
          すべての商品を見る
= link_to root_path,class: "sell-btn" do
  %div 出品
  %i.icon-camera
    = icon "fas","camera"
