= render 'layouts/user_item_top-bar'
%main.single__main
  %section.single__container
    #sell__container
      .sell__contaner-inner
        %h2.single__head
          商品の情報を入力
        .sell__form
          =form_for(@item, data: { remote: true },html: {class: "sell-form dropzone", id: "item-dropzone"}) do |f|
            .sell__image-box
              %h3.sell__image-head
                出品画像
                %span.form-require
                  必須
              %p
                最大10枚までアップロードできます
              = f.fields_for :images do |image|
                .dropzone-container.clearfix
                  #preview
                  .dropzone-area
                    = image.label :name, class: "dropzone-box", for: "upload-image" do
                      .input_area
                        = image.file_field :name, multiple: true, name: 'images[name][]', id: "upload-image", class: "upload-image", 'data-image': 0
                      %pre
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
                  #preview2
                  .dropzone-area2
                    = image.label :name, class: "dropzone-box", for: "upload-image" do
                      %pre
                        ドラッグアンドドロップ
                        またはクリックしてファイルをアップロード
            .sell__content
              .form-group
                %label
                  商品名
                  %span.form-require
                    必須
                =f.text_field :name ,class: "input-default",placeholder: "商品名(必須40文字まで)"
              .form-group
                %label
                  商品の説明
                  %span.form-require
                    必須
                =f.text_area :description,class: "textarea-default",row: 5,placeholder: "商品の説明（必須 1,000文字以内）（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
            .sell__content.clearfix
              %h3.sell__sub-head
                商品の詳細

              .sell__form-box
                .form-group.category
                 
                  %label
                    カテゴリー
                    %span.form-require
                      必須
                  %div
                    .select-wrap.parent
                      %i.icon-arrow-bottom
                        = icon "fas","angle-down"
                      = f.select :category_id, @category,{},{class: "select-default", id: 'parent_category'}
                      -# = f.select :category_id, Category.where(ancestry: nil).collect { |cat| [ cat.name, cat.id ] }, {prompt: "---"}, {class: "select-default", id: 'parent_category'}
                .form-group
                  =f.fields_for :size do |size|
                    %label
                      サイズ
                      %span.form-require
                        必須
                      =size.text_field :name ,class: "input-default",placeholder: "サイズを入力してください"
                .form-group
                  =f.fields_for :brand do |brand|
                    .form-group
                      %label
                        ブランド
                        %span.form-arbitrary
                          任意
                        =brand.text_field :name ,class: "input-default",placeholder: "ブランドを入力してください"
                .form-group
                  %label
                    商品の状態
                    %span.form-require
                      必須
                  %div
                    .select-wrap
                      %i.icon-arrow-bottom
                        = icon "fas","angle-down"
                      = f.select :condition,["新品、未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"],{prompt: "---"},{class: "select-default"}
            .sell__content.clearfix
              %h3.sell__sub-head
                配送について
              =link_to "?", root_path,class: "form-question"
              .sell__form-box
                =f.fields_for :delivery do |delivery|
                  .form-group
                    %label
                      配送料の負担
                      %span.form-require
                        必須
                    %div
                      .select-wrap
                        %i.icon-arrow-bottom
                          = icon "fas","angle-down"
                        = delivery.select :fee,["送料込み（出品者負担）","着払い（購入者負担）"],{prompt: "---"},{class: "select-default"}
                  .form-group
                    %label
                      発送元の地域
                      %span.form-require
                        必須
                    %div
                      .select-wrap
                        %i.icon-arrow-bottom
                          = icon "fas","angle-down"
                        = delivery.select :area,Prefecture.all.collect{|p| [p.name]}, {prompt: "---"}, {class: "select-default"}
                  .form-group
                    %label
                      発送までの日数
                      %span.form-require
                        必須
                    %div
                      .select-wrap
                        %i.icon-arrow-bottom
                          = icon "fas","angle-down"
                        = delivery.select :delivery_days,["1~2日で発送","2~3日で発想","4~7日で発送"],{prompt: "---"},{class: "select-default"}
            .sell__content.clearfix
              %h3.sell__sub-head
                販売価格(300〜9,999,999)
              =link_to "?", root_path,class: "form-question"
              .sell__form-box
                %ul.sell__price
                  %li.form-group.clearfix
                    %label.list-left
                      価格
                      %span.form-require
                        必須
                    .list-right
                      ¥
                      %div
                        =f.text_field :price,class: "input-default",placeholder: "例）300",type: "tel",maxlength: "7",size: "19",autocomplete: "off"
                  %li.clearfix
                    .list-fee-left
                      販売手数料 (10%)
                    .list-fee-right
                  %li.clearfix.bold
                    .list-profit-left
                      販売利益
                    .list-profit-right
            .sell__content.sell-btn-box
              %p
                =link_to "禁止されている出品", root_path
                、
                =link_to "行為",root_path
                を必ずご確認ください。
              %p
                またブランド品でシリアルナンバー等がある場合はご記載ください。
                =link_to "偽ブランドの販売",root_path
                は犯罪であり処罰される可能性があります。
              %p
                また、出品をもちまして
                =link_to "加盟店規約",root_path
                に同意したことになります。
              =f.submit "出品する",class: "btn-default-red",id: "item-submit"
              =link_to "もどる",root_path,class: "btn-default-gray"
= render 'layouts/user_item_bottom-bar'