.item
  .item__view
    .item__name
      = @item.name
    .item__main-content.clearfix
      .item__photo
        .item__photo_main
          = image_tag @item.images.first.name.url,class:"item__photo_main"
        .item__photo_detail
          - @item.images.each do |img|
            .item__photo_detail_one
              = image_tag img.name.url,class:"item__photo_detail_ten" 
      %table.item__detail
        .table
          %tr.table__one
            %th.table__one__left
              出品者
            %td.table_one_right
              = @item.user.name
              .Evaluation
                .face-one
                  %i.far.fa-grin-beam
                  10
                .face-two
                  %i.far.fa-meh
                  10
                .face-three
                  %i.far.fa-frown
                  10
          %tr.table_two
            %th.table_two_left
              カテゴリー
            %td.table_two_right
              = @item.category.name
          %tr.table_three
            %th.table_three_left
              ブランド
            %td.table_three_right
              = @item.brand.name
          %tr.table_four
            %th.table_four_left
              商品サイズ
            %td.table_four_right
              = @item.size.name
          %tr.table_five
            %th.table_five_left
              商品状態
            %td.table_five_right
              = @item.condition
          %tr.table_six
            %th.table_six_left
              配送料の負担
            %td.table_six_right
              = @item.delivery.fee
          %tr.table_seven
            %th.table_seven_left
              配送の方法
            %td.table_seven_right
              ヤマト
          %tr.table_eight
            %th.table_eight_left
              配送元地域	
            %td.table_eight_right
              = @item.delivery.area
          %tr.table_nine
            %th.table_nine_left
              発送日の目安
            %td.table_nine_right
              = @item.delivery.delivery_days
    .item__price
      %span.price 
        = "¥#{@item.price.to_s(:delimited)}"
      %span.tax
        (税込)
      %span.shipping__fee
        送料込み
      
    .item-buy-btn
      =link_to "購入画面に進む",item_purchase_index_path(@item)
    .item__pr
      .item_pr_text
        = @item.description
    .item-button-container.clearfix
      .button__left
        %a.button__like-btn
          = icon 'far','heart'  
          いいね! 100
        %a.item__report
          %i.far.fa-flag
          不適切な商品の報告        
      .button__right 
        %i.fas.fa-unlock-alt 
          .icon_lock
            あんしん・あんぜんへの取り組み
  .detail
    .detail_message
      .detail_message_form 
        相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会性分となることがあります。
      .textarea-default  
        =form_for @item do |f|
          =f.text_area :name,class:"message_field", placeholder:"(例)脱いで何時間後の商品ですか？"
      %button.message-submit
        コメントする
  .item_link
    .item__prev
      = link_to "〈　友達以上"
    .item__next
      = link_to "恋人未満　〉"
  .social-media
    .media-box
      =image_tag "https://gyazo.com/03358681e18749df01deeba6f07d1d42.png"
  .other-item-profile
    .other-item-head
      = link_to "#{@item.seller.name}さんのその他の出品"
    .item-linenup
      -@user.selling_items.each do |item|
        -if item != @item
          %section.item-linenup_box1
            .item-linenup_photo
            = image_tag item.image.image1.url,class:"linenup_photo1"
            .item-linenup_description1
              %h3.item-linenup__name1
                = item.name
              .item-linenup_num1
                .item-linenup_price1
                  = "¥#{item.price.to_s(:delimited)}"
                .item-linenup_font1
                  = icon 'far','heart'                            
                  2
      