%nav.bread-crums
  %ul.bread-crums-ul
    %li.bread-crums-list
      = link_to 'メルカリ'
      = icon('fas','chevron-right', class: 'icon-arrow-right')
    %li.bread-crums-list
      = link_to 'マイページ'
      = icon('fas','chevron-right', class: 'icon-arrow-right')
    %li.bread-crums-list.li-last-child
      = link_to 'ログアウト'